<header>
    this is header
    <nav>
        {% if isIndexPage %}
            <ul id="menu-link-list">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="page1/">Page1</a>
                </li>
                <li>
                    <a href="page2/">Page2</a>
                </li>
            </ul>
        {% else %}
            <ul id="menu-link-list">
                <li>
                    <a href="../">Home</a>
                </li>
                <li>
                    <a href="../page1">Page1</a>
                </li>
                <li>
                    <a href="../page2">Page2</a>
                </li>
            </ul>
        {% endif %}
    </nav>
</header>