* {
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
  color: white;
  font-weight: 700;
  text-align: center;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: white;
}

footer {
  opacity: 0.6;
  /* margin-top: 6em; */
}

h1 {
  font-size: 1.8em;
  font-weight: 400;
  margin-bottom: 0.75em;
  line-height: 1.25;
}

h2 {
  font-weight: 400;
  margin-bottom: 0.75em;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(24, 20, 35);
}

img {
  max-width: 95%;
  height: auto;
}

p {
  line-height: 1.6;
}

/* section {
  max-width: 1200px;
  margin: 0 auto;
} */

.accent-text {
  color: var(--accent-normal);
}

.accent-divider {
  height: 5px;
  width: 20%;
  background: var(--accent-normal);
}

.brand-icon {
  height: 60px;
  width: 60px;
}

.brand-icon-band {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.green-tick {
  color: var(--accent-green);
  margin-right: 0.25em;
  font-weight: 700;
}

.inline-band {
  display: flex;
}

.social-icons {
  height: 32px;
  width: 32px;
  margin-right: 1em;
  margin-top: 0.5em;
}

.tick-list {
  opacity: 0.87;
}
