:root {
  --accent-normal: #cf66a9;
  --accent-green: #66cf8c;
  --accent-red: #cf6666;

  --mob-btn-radius: 0.4em;
  --mob-btn-padding: 2em;

  --section-header-font-size-web: 3em;
  --section-header-font-size-mob: 2em;

  --copy-font-size-web: 1.25em;
  --copy-margin: 1em 0 1em 0;

  --tick-font-size: 1em;
  --tick-font-weight: 700;
  --tick-font-margin: 0 0 1em 0;
}
