--- 
pageTitle: "Marketer" 
---
<!DOCTYPE html>
<html dir="ltr" lang="en">
    {% include "head.njk" %}
    <body>
        {% include "header.njk" %}
        This is page2
        {% include "footer.njk" %}
        {% include "scripts.njk" %}
    </body>
</html>